*{
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}
.main{
    width: 100%;
    height: 80vh;
    background-color:#69bdb7;
    


}
.text-main{
    position: relative;
    text-align: center;
    top: 25%;
    color: #c2171f;

}
.main h1{
    font-size: 4rem;
    text-transform: uppercase;
    font-family:"Montserrat" ;
}


.portfolio{
    
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(179, 158, 158);
}
.portfolio h2{
    font-size: 3rem;
    color: rgb(207, 53, 26);
    font-family:"Montserrat" ;
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;  
}
.container{
    margin: 100px auto;
    width: 100%;
    display: flex;
    justify-content: center;

}
.card{
    width: 100%;
    height: 500px;
    color: indianred;
    display: inline-block;
    margin:40px;

}
.card p{
    text-align: center;
    font-size: 2.5rem;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    color: black;
}

